@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    @font-face {
        font-family: "Thonburi";
        font-weight: 500;
        src: url("./assets/fonts/SFThonburi-Regular.ttf");
    }
    @font-face {
        font-family: "Thonburi";
        font-weight: 600;
        src: url("./assets/fonts/SFThonburi-Semibold.ttf");
    }
    @font-face {
        font-family: "Thonburi";
        font-weight: 700;
        src: url("./assets/fonts/SFThonburi-Bold.ttf");
    }
    * {
        font-family: "Thonburi", system-ui, sans-serif;
    }
}
@layer base {
}

@layer components {
    .input-register {
        @apply w-full rounded-md border px-2 py-[0.45rem] text-xs outline-none focus:border-gray-300;
    }

    .input-lable {
        @apply text-xs;
    }

    .ellipsis {
        @apply overflow-hidden text-ellipsis whitespace-nowrap;
    }

    .flex-col-cen {
        @apply flex flex-col items-center justify-center;
    }
    .flex-cen {
        @apply flex items-center justify-center;
    }
    .triangle-clip {
        clip-path: polygon(0 0, 0% 100%, 100% 100%);
    }
    .btn-orange {
        @apply cursor-pointer border border-transparent bg-secondary text-white transition-colors duration-200 hover:border-secondary hover:bg-white hover:text-secondary;
    }
    .btn-white {
        @apply cursor-pointer border border-secondary bg-white text-secondary transition-colors duration-200 hover:border-transparent hover:bg-secondary hover:text-white;
    }
    .loading {
        @apply h-8 w-8  rounded-full border-[3px]  border-r-0 border-white bg-transparent;
    }
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

::-webkit-scrollbar {
    width: 6px;
    height: 8px;
}
::-webkit-scrollbar-track {
    background-color: #e7e7e7;
    border-radius: 100%;
}
::-webkit-scrollbar-thumb {
    background-color: #8d8d8d;
    border-radius: 10px;
}

.vertical-text {
    writing-mode: vertical-lr;
    -webkit-writing-mode: vertical-lr;
    -ms-writing-mode: vertical-lr;
    text-orientation: mixed;
    transform: scaleX(-1) scaleY(-1);
}

.opacity-gradient {
    background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2ZmZmZmZiIgc3RvcC1vcGFjaXR5PSIwIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjcwJSIgc3RvcC1jb2xvcj0iI2ZmZmZmZiIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgPC9saW5lYXJHcmFkaWVudD4KICA8cmVjdCB4PSIwIiB5PSIwIiB3aWR0aD0iMSIgaGVpZ2h0PSIxIiBmaWxsPSJ1cmwoI2dyYWQtdWNnZy1nZW5lcmF0ZWQpIiAvPgo8L3N2Zz4=);
    background: -moz-linear-gradient(top, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 1) 70%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, rgba(255, 255, 255, 0)), color-stop(70%, rgba(255, 255, 255, 1)));
    background: -webkit-linear-gradient(top, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 1) 70%);
    background: -o-linear-gradient(top, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 1) 70%);
    background: -ms-linear-gradient(top, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 1) 70%);
    background: linear-gradient(to bottom, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 1) 70%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00ffffff', endColorstr='#ffffff',GradientType=0 );
}

html,
body {
    scroll-behavior: auto;
    -webkit-overflow-scrolling: touch;
}
