@tailwind base;
@tailwind components;
@tailwind utilities;


@layer base {
    @font-face {
        font-family: "Thonburi";
        font-weight: 500;
        src: url("./assets/fonts/SFThonburi-Regular.ttf");
    }
    @font-face {
        font-family: "Thonburi";
        font-weight: 600;
        src: url("./assets/fonts/SFThonburi-Semibold.ttf");
    }
    @font-face {
        font-family: "Thonburi";
        font-weight: 700;
        src: url("./assets/fonts/SFThonburi-Bold.ttf");
    }
    * {
        font-family: "Thonburi", system-ui, sans-serif;
    }
}

@layer components {
    .input-register {
        @apply w-full rounded-md border px-2 py-[0.45rem] text-xs outline-none focus:border-gray-300;
    }

    .input-lable {
        @apply text-xs;
    }

    .ellipsis {
        @apply overflow-hidden text-ellipsis whitespace-nowrap
    }

    .flex-col-cen {
        @apply flex flex-col items-center justify-center;
    }
    .flex-cen {
        @apply flex items-center justify-center;
    }
    .triangle-clip {
        clip-path: polygon(0 0, 0% 100%, 100% 100%);
    }
    .btn-orange {
        @apply cursor-pointer border border-transparent bg-secondary text-white transition-colors duration-200 hover:border-secondary hover:bg-white hover:text-secondary;
    }
    .btn-white {
        @apply cursor-pointer border border-secondary bg-white text-secondary transition-colors duration-200 hover:border-transparent hover:bg-secondary hover:text-white;
    }
    .loading {
        @apply h-8 w-8  rounded-full border-[3px]  border-r-0 border-white bg-transparent;
    }
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

input{
    border: none;
    outline: none;
}

.vertical-text {
    writing-mode: vertical-lr;
    -webkit-writing-mode: vertical-lr;
    -ms-writing-mode: vertical-lr;
    text-orientation: mixed;
    transform: scaleX(-1) scaleY(-1);
}

html, body {
    scroll-behavior: auto;
    -webkit-overflow-scrolling:touch;
}

